includes:
    - phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - app
        - database/migrations
        - routes

    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
